# Travel Trends: Part 1

For this example we're going to look at extracting data from **tabs 4.12a and 4.12b** of the included travelTrends4 excel file.

I'll try and break everything into stages and make use heavy use of comments as we go.

You can't really run a databaker script in pieces so I'll just gradually add to it, so i'll just gradually expand it as we go.

---

# Goal of This Script

Extract the Holiday and Business vists for all areas, but NOT inlcude the totals for England, Wales and Scotland.

In [65]:

"""
First we import databaker and load the specific tabs into memory.
"""

from databaker.framework import *

# name the input and output file
inputfile = 'travelTrends4.xls'
outputfile ='output_travelTrends4.csv'

# load the tabs we want
tabsWeWant = ['4.12a', '4.12b']
tabs = loadxlstabs(inputfile, tabsWeWant)

Loading travelTrends4.xls which has size 629760 bytes
Table names: ['4.12a', '4.12b']

In [66]:
"""
First we import databaker and load the specific tabs into memory.
"""

from databaker.framework import *

# name the input and output file
inputfile = 'travelTrends4.xls'
outputfile ='output_travelTrends4.csv'

# load the tabs we want
tabsWeWant = ['4.12a', '4.12b']
tabs = loadxlstabs(inputfile, tabsWeWant)

"""
Secondly we start a loop so we can look at each of the selected tabs
"""

conversionsegments = [] # we'll need this later
for tab in tabs:
    
    print ("We're looking at the tab: ", tab.name)

Loading travelTrends4.xls which has size 629760 bytes
Table names: ['4.12a', '4.12b']
We're looking at the tab:  4.12a
We're looking at the tab:  4.12b

In [67]:
"""
First we import databaker and load the specific tabs into memory.
"""

from databaker.framework import *

# name the input and output file
inputfile = 'travelTrends4.xls'
outputfile ='output_travelTrends4.csv'

# load the tabs we want
tabsWeWant = ['4.12a', '4.12b']
tabs = loadxlstabs(inputfile, tabsWeWant)

"""
Secondly we start a loop so we can look at each of the selected tabs
"""

conversionsegments = [] # we'll need this later
for tab in tabs:
    
    "Now the cell selection stage"
    
    # First, we're going to select the business and holidays cells from row 6 as a variable typeOfTravel
    holiday = tab.excel_ref("6").filter(contains_string("Holiday"))
    business = tab.excel_ref("6").filter(contains_string("Business"))
    typeOfTravel = holiday | business
    
    print(tab.name, typeOfTravel)

Loading travelTrends4.xls which has size 629760 bytes
Table names: ['4.12a', '4.12b']
4.12a {<G6 'Business'>, <C6 'Holiday'>}
4.12b {<G6 'Business'>, <C6 'Holiday'>}

In [68]:
"""
First we import databaker and load the specific tabs into memory.
"""

from databaker.framework import *

# name the input and output file
inputfile = 'travelTrends4.xls'
outputfile ='output_travelTrends4.csv'

# load the tabs we want
tabsWeWant = ['4.12a', '4.12b']
tabs = loadxlstabs(inputfile, tabsWeWant)

"""
Secondly we start a loop so we can look at each of the selected tabs
"""

conversionsegments = [] # we'll need this later
for tab in tabs:
    
    "Now the cell selection stage"
    
    # First, we're going to select the business and holidays cells from row 6 as a variable typeOfTravel
    holiday = tab.excel_ref("6").filter(contains_string("Holiday"))
    business = tab.excel_ref("6").filter(contains_string("Business"))
    typeOfTravel = holiday | business
    
    typeOfTravel = [cell for cell in tab.excel_ref("6") if cell.value in wanted]
    
    # Now we'll select the areas, removing any Totals
    allAreas = tab.excel_ref('A').is_not_blank().is_not_whitespace()
    unwantedAreas = tab.excel_ref('A').filter(contains_string("Total"))
    area = allAreas - unwantedAreas

Loading travelTrends4.xls which has size 629760 bytes
Table names: ['4.12a', '4.12b']

In [69]:
"""
First we import databaker and load the specific tabs into memory.
"""

from databaker.framework import *

# name the input and output file
inputfile = 'travelTrends4.xls'
outputfile ='output_travelTrends4.csv'

# load the tabs we want
tabsWeWant = ['4.12a', '4.12b']
tabs = loadxlstabs(inputfile, tabsWeWant)

"""
Secondly we start a loop so we can look at each of the selected tabs
"""

conversionsegments = [] # we'll need this later
for tab in tabs:
    
    """Now the cell selection stage"""
    
    # First, we're going to select the business and holidays cells from row 6 as a variable typeOfTravel
    holiday = tab.excel_ref("6").filter(contains_string("Holiday"))
    business = tab.excel_ref("6").filter(contains_string("Business"))
    typeOfTravel = holiday | business

    # Now we'll select the areas, removing any Totals
    allAreas = tab.excel_ref('A').is_not_blank().is_not_whitespace()
    unwantedAreas = tab.excel_ref('A').filter(contains_string("Total"))
    area = allAreas - unwantedAreas
    
    # And now we select the observations with a waffle
    observations = typeOfTravel.waffle(area).is_not_blank().is_not_whitespace()
    
    for ob in observations:
        if ob.value == '':
            print(ob)

Loading travelTrends4.xls which has size 629760 bytes
Table names: ['4.12a', '4.12b']

In [70]:
"""
First we import databaker and load the specific tabs into memory.
"""

from databaker.framework import *

# name the input and output file
inputfile = 'travelTrends4.xls'
outputfile ='output_travelTrends4.csv'

# load the tabs we want
tabsWeWant = ['4.12a', '4.12b']
tabs = loadxlstabs(inputfile, tabsWeWant)

"""
Secondly we start a loop so we can look at each of the selected tabs
"""

conversionsegments = [] # we'll need this later
for tab in tabs:
    
    """Now the cell selection stage"""
    
    # First, we're going to select the business and holidays cells from row 6 as a variable typeOfTravel
    holiday = tab.excel_ref("6").filter(contains_string("Holiday"))
    business = tab.excel_ref("6").filter(contains_string("Business"))
    typeOfTravel = holiday | business

    # Now we'll select the area, removing any Totals
    allAreas = tab.excel_ref('A').is_not_blank().is_not_whitespace()
    unwantedAreas = tab.excel_ref('A').filter(contains_string("Total"))
    area = allAreas - unwantedAreas
    
    # And now we select the observations with a waffle
    observations = typeOfTravel.waffle(area).is_not_blank().is_not_whitespace()
    
    
    """
    Now we need to establish the relation between our observations
    and our dimensions (typeOfTravel, area, time)
    
    I've included a colored image below that should help with working through the logic of what this is doing.
    The key thing to remember is we're defining relationships of each dimension - RELATIVE TO THE OBSERVATIONS
    """
    dimensions = [
              HDim(area, GEOG, DIRECTLY, LEFT), 
              HDim(typeOfTravel, "Type of Travel", DIRECTLY, ABOVE), 
              HDimConst(TIME, "2016")    # the time for all is 2016, so we just set it as constant 
                 ]

Loading travelTrends4.xls which has size 629760 bytes
Table names: ['4.12a', '4.12b']

# KEY

## purple = typeOfTravel
## green = area
## blue = observations

![title](example1RelationshipsPic.png)

In [71]:
"""
First we import databaker and load the specific tabs into memory.
"""

from databaker.framework import *

# name the input and output file
inputfile = 'travelTrends4.xls'
outputfile ='output_travelTrends4.csv'

# load the tabs we want
tabsWeWant = ['4.12a', '4.12b']
tabs = loadxlstabs(inputfile, tabsWeWant)

"""
Secondly we start a loop so we can look at each of the selected tabs
"""

conversionsegments = [] # we'll need this later
for tab in tabs:
    
    """Now the cell selection stage"""
    
    # First, we're going to select the business and holidays cells from row 6 as a variable typeOfTravel
    holiday = tab.excel_ref("6").filter(contains_string("Holiday"))
    business = tab.excel_ref("6").filter(contains_string("Business"))
    typeOfTravel = holiday | business

    # Now we'll select the area, removing any Totals
    allAreas = tab.excel_ref('A').is_not_blank().is_not_whitespace()
    unwantedAreas = tab.excel_ref('A').filter(contains_string("Total"))
    area = allAreas - unwantedAreas
    
    # And now we select the observations with a waffle
    observations = typeOfTravel.waffle(area).is_not_blank().is_not_whitespace()
    
    
    """
    Now we need to establish the relation between our observations
    and our dimensions (typeOfTravel, area, time)
    
    I've included a colored image below that should help with working through the logic of what this is doing.
    The key thing to remember is we're defining relationships of each dimension - RELATIVE TO THE OBSERVATIONS
    """
    dimensions = [
              HDim(area, GEOG, DIRECTLY, LEFT), 
              HDim(typeOfTravel, "Type of Travel", DIRECTLY, ABOVE), 
              HDimConst(TIME, "2016")    # the time for all is 2016, so we just set it as constant 
                 ]
    
    """
    Now we pass the info we need to flatten our selection to the databaker function 'ConversionSegment'
    Then add it to a list.
    """
    conversionsegment = ConversionSegment(tab, dimensions, observations) # < --- processing
    conversionsegments.append(conversionsegment) # <-- adding result of processing this tab to our list
    
# Write every 'ConversionSegment' in the list to a csv
writetechnicalCSV(outputfile, conversionsegments)

Loading travelTrends4.xls which has size 629760 bytes
Table names: ['4.12a', '4.12b']
writing 2 conversion segments into /Users/adamsm/PycharmProjects/databaker/example1/output_travelTrends4.csv
conversionwrite segment size 122 table '4.12a'; TIMEUNIT='Year'
conversionwrite segment size 60 table '4.12b'; TIMEUNIT='Year'

# Finished

The transformation script is now complete. I'm going to quickly load it into pandas so we can see what we've made.

In [72]:

import pandas as pd

dataframe = pd.read_csv("output_travelTrends4.csv")
dataframe.fillna("", inplace=True)

pd.set_option("display.max_columns",200)  # make sure it displays all columns

dataframe

,observation,data_marking,statistical_unit_eng,statistical_unit_cym,measure_type_eng,measure_type_cym,observation_type,empty,obs_type_value,unit_multiplier,unit_of_measure_eng,unit_of_measure_cym,confidentuality,empty1,geographic_area,empty2,empty3,time_dim_item_id,time_dim_item_label_eng,time_dim_item_label_cym,time_type,empty4,statistical_population_id,statistical_population_label_eng,statistical_population_label_cym,cdid,cdiddescrip,empty5,empty6,empty7,empty8,empty9,empty10,empty11,empty12,dim_id_1,dimension_label_eng_1,dimension_label_cym_1,dim_item_id_1,dimension_item_label_eng_1,dimension_item_label_cym_1,is_total_1,is_sub_total_1
0,40.66723563793592,,,,,,,,,,,,,,Bedfordshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
1,107.09155053616725,,,,,,,,,,,,,,Bedfordshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
2,140.58324482898732,,,,,,,,,,,,,,Berkshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
3,220.02494484827182,,,,,,,,,,,,,,Berkshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
4,167.13377208201604,,,,,,,,,,,,,,Bristol UA,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
5,186.69509772187934,,,,,,,,,,,,,,Bristol UA,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
6,53.43973600160848,,,,,,,,,,,,,,Buckinghamshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
7,129.3959346086055,,,,,,,,,,,,,,Buckinghamshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
8,190.991146504968,,,,,,,,,,,,,,Cambridgeshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
9,188.54399455770363,,,,,,,,,,,,,,Cambridgeshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
10,75.91507317646344,,,,,,,,,,,,,,Cheshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
11,98.03502131376472,,,,,,,,,,,,,,Cheshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
12,223.90315150605497,,,,,,,,,,,,,,Cornwall,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
13,16.4046123621587,,,,,,,,,,,,,,Cornwall,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
14,158.2576343537235,,,,,,,,,,,,,,Cumbria,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
15,30.599607654979543,,,,,,,,,,,,,,Cumbria,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
16,36.53579712495979,,,,,,,,,,,,,,Derbyshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
17,77.62449813754492,,,,,,,,,,,,,,Derbyshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
18,202.39434645881448,,,,,,,,,,,,,,Devon,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
19,54.75429771738437,,,,,,,,,,,,,,Devon,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
20,160.52610903089507,,,,,,,,,,,,,,Dorset,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
21,41.58233821580089,,,,,,,,,,,,,,Dorset,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
22,25.31337974765207,,,,,,,,,,,,,,Durham,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
23,18.748617397801866,,,,,,,,,,,,,,Durham,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
24,345.2010749258771,,,,,,,,,,,,,,East Sussex,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
25,71.8827841068298,,,,,,,,,,,,,,East Sussex,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
26,7.400248852407955,,,,,,,,,,,,,,East Yorkshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
27,5.781450522075542,,,,,,,,,,,,,,East Yorkshire,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
28,93.20679389413004,,,,,,,,,,,,,,Essex,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
29,147.539513697295,,,,,,,,,,,,,,Essex,,,2016,2016,,Year,,,,,,,,,,,,,0,,Type of Travel,Type of Travel,,Business,Business,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,7.6392651901301125,,,,,,,,,,,,,,Pembrokeshire,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
154,20.960312667311864,,,,,,,,,,,,,,Powys,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
155,3.0348533331473098,,,,,,,,,,,,,,Powys,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
156,2.5982662503866774,,,,,,,,,,,,,,Rhondda,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
157,1.4625459505938057,,,,,,,,,,,,,,Rhondda,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
158,25.77433912611772,,,,,,,,,,,,,,Swansea,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
159,12.800148459117889,,,,,,,,,,,,,,Swansea,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
160,0.9897801853826094,,,,,,,,,,,,,,Torfaen,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
161,0.953140763030308,,,,,,,,,,,,,,Torfaen,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
162,1.3104939067158095,,,,,,,,,,,,,,Vale of Glamorgan,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
163,6.1507823684885805,,,,,,,,,,,,,,Vale of Glamorgan,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
164,10.269541793578373,,,,,,,,,,,,,,Wrexham,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
165,12.305539866069536,,,,,,,,,,,,,,Wrexham,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
166,5.040071279207269,,,,,,,,,,,,,,Wales unspecified,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
167,0.9202269861206899,,,,,,,,,,,,,,Wales unspecified,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
168,110.28517450275828,,,,,,,,,,,,,,Northern Ireland,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
169,77.08926450599829,,,,,,,,,,,,,,Northern Ireland,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
170,36.3777980836522,,,,,,,,,,,,,,Nights spent Travelling,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
171,35.103778420297004,,,,,,,,,,,,,,Nights spent Travelling,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
172,6.453258194603443,,,,,,,,,,,,,,Isle Of Man,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
173,0.49669700000000044,,,,,,,,,,,,,,Isle Of Man,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
174,1.1085337943937343,,,,,,,,,,,,,,Channel Islands,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
175,1.9811211360580399,,,,,,,,,,,,,,Channel Islands,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
176,44.87489182579822,,,,,,,,,,,,,,UK area unknown,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
177,17.468223891326826,,,,,,,,,,,,,,UK area unknown,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
178,13461.284982285302,,,,,,,,,,,,,,All staying Visits,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
179,8142.873489538738,,,,,,,,,,,,,,All staying Visits,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
180,13899.00252499998,,,,,,,,,,,,,,All visits to the UK,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Holiday,Holiday,,,
181,9187.144513999998,,,,,,,,,,,,,,All visits to the UK,,,2016,2016,,Year,,,,,,,,,,,,,1,,Type of Travel,Type of Travel,,Business,Business,,,
182,*********,182,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,